body {
    background-color: #f2efe9;
    margin: 100px;
    font-family: Montserrat, Helvetica, sans-serif;
}


.section-title {
    color: #ddb60a;
}

#info {
    text-align: center;
    font-size: 12px;
}
p {
    line-height: 1.6;
}


ul {
    margin-left: 20px;
}

#refTable {
    width: 10%;            
    margin: 10px auto;     
    border-collapse: collapse;
    background-color: white;
}

#refTable th, 
#refTable td {
    border: 1px solid black;
    padding: 8px;
}

#refTable th {
    background: #ddb60a;
    color: white;
}


a:link {
    color: rgb(0, 0, 0);
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}


.nav-btn {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #000000;
    background-color: #ddb60a;
    COLOR: #000000;
    font-size: 12px;
    margin: 3px;
}

.nav-btn:hover {
    background-color: #1a73e8;
    color: white;
}
.section-box {
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 15px;
    margin: 20px 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

